body {
    background-color: white;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
}
.container {
    width: 75rem;
    background: url(images/bg-pattern-top-desktop.svg) left top no-repeat, url(images/bg-pattern-bottom-desktop.svg) right bottom no-repeat;
    box-shadow: 5px 5px 20px hsl(300, 24%, 96%);
}

.info, .star-reviews {
    padding: 0;
    margin: 5% 0 5% 7%;
}

.container h1  {
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}

.stars {
    display: inline;
    float: left;
    margin-right: 4%;
}

#review-2 {
    margin: 4% 0 0 9%;
}

#review-3 {
    margin: 4% 0 0 18%;
}

.reviews {
    width: 90%;
    margin: 0 0 5% 4%;
}

.card.review {
    color: hsl(300, 43%, 22%);
    background:hsl(300, 24%, 96%);
    font-weight: 700;
}

.card {
    color: white;
    background: hsl(300, 43%, 22%);
}

#profile-icon {
    border-radius: 50%;
    margin: 2% 2% 5% 2%;
}

.card-subtitle {
    color: hsl(333, 80%, 67%);
}
